<nav>
  <div class="d-flex align-items-center p-3 justify-content-between" style="background: #3C486B;color: white;">
    <div>
      <h1 class="text-center">
        <a href="/calendar" style="text-shadow: 1px 2px 2px rgba(0,0,0,0.35);" class="text-reset text-decoration-none">APPERFECTDAY</a>
      </h1>
    </div>
    <div class="d-flex">
      <div class="d-flex align-items-center me-3">
        <img src="/img/noUser.png" alt="" style="
            width: 3rem;
            height: 3rem;
            margin-right: 0.5rem;
            border-radius: 50%;
          " />
        <h3>
          <a href="/perfil" style="text-shadow: 1px 2px 2px rgba(0,0,0,0.35);" class="text-reset text-decoration-none"><%= user.name %></a>
        </h3>
      </div>
      <form method="post" action="/logout" class="d-flex align-items-center">
        <button type="submit" class="btn btn-primary">
          Cerrar sesión
        </button>
      </form>
    </div>
  </div>
</nav>